doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title FormaServe

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/fss.css')

    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

  body
    block content
