doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title FormaServe

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='jquery/jquery-ui.min.css')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

    link(rel='stylesheet' href='/stylesheets/fss.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

    script(src="bootstrap/js/bootstrap.min.js")

  body
    block content
